body {
    margin: 0;
    font-family: Arial;
    background: #0f172a;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background: #020617;
}

nav ul {
    display: flex;
    gap: 15px;
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
}

section {
    padding: 40px;
    text-align: center;
}
@media (max-width: 600px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        padding: 0;
    }
}
.contact {
    padding: 30px;
    text-align: center;
}
.contact-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.contact-info {
    background: #020617;
    padding: 15px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
}

.contact-info p {
    margin: 10px 0;
}

.contact-info i {
    color: #38bdf8;
    margin-right: 10px;
}
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 90%;
    max-width: 400px;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    border: none;
    border-radius: 8px;
    outline: none;
    background: #1e293b;
    color: white;
}
.contact-form button {
    padding: 10px;
    border: none;
    background: #38bdf8;
    color: black;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s;
}

.contact-form button:hover {
    background: #0ea5e9;
}
@media (min-width: 600px) {
    .contact-container {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }

    .contact-info,
    .contact-form {
        width: 45%;
    }
}
@media (min-width: 900px) {
    .contact-container {
        gap: 50px;
    }
}
footer {
    background: #020617;
    padding: 20px;
    margin-top: 40px;
    height: 100px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.footer-text {
    font-size: 14px;
    color: #94a3b8;
}
.footer-social {
    display: flex;
    gap: 15px;
}

.footer-social a {
    color: white;
    font-size: 20px;
    transition: 0.3s;
}
.footer-social a img{
    width: 60px;
    height: 60px;
}